/*TODOS LOS ELEMENTOS*/
*{
   margin:0;
   padding:0;
}

/*BODY*/
body{
   background-image: url("./Imagenes/fondo1.png");
   background-attachment:fixed;
   background-repeat: repeat-y
}
   
/*HEADER*/
.header{
   background-color: #ffb6c1;
   width: 100%;
}

.titulo{
   color: black;
   Text-align:center;
}

/*NAV*/
.lista{
   display: flex;
   flex-direction: row;
   width:100%;
   text-align: left;
   gap: 15px;
   justify-content: left;
   background-color: white;
}

.elementoslista{
   list-style: none;
   text-decoration-line: none;
   text-decoration-style: none;
   text-decoration: none;
   color: #333;
   font-size: 16px;
   font-weight: bold;
}

/*ASIDE*/


.aside2{
   background-color: #F5F5F5;
   border: 1px solid #ddd;
   border-radius: 5px;
   padding: 3cm;
   margin-left: 7cm;
   font-style: bold;
   float: right;
   flex: 2;

}
.aside3{
   background-color: #F5F5F5;
   border: 1px solid #ddd;
   border-radius: 5px;
   padding: 3cm;
   margin-left: 7cm;
   font-style: bold;
   float: right;
   flex: 2;


}
.aside4{
   background-color: #F5F5F5;
   border: 1px solid #ddd;
   border-radius: 5px;
   padding: 2cm;
   margin-right: 10cm;
   font-style: bold;
   float: right;
   flex: 2;

}
/*MAIN*/
.container {
   display: flex;
   flex-direction: row;
 }
.productos{
   margin-top: 2cm;
}
main {
   flex: 1;
   margin-top: 2cm;
   margin-left: 4cm;
   margin-bottom: 4cm;
   background-color: white;


}
/*principal*/

.section1{
   margin-left: 2cm;
}

.divImagenesPrincipal{
   margin-top: 1cm;
   margin-bottom: 1cm;
   
}

/*horarios de atención*/
.tabla{
   margin-top: 2cm;
   margin-bottom: 2cm;
   margin-left: 2cm;
   border-collapse: collapse;
   border: 1px solid black;
} 
.diaAperturaCierre{
   border: 1px solid black;
}

.Lunes{
   color: blueviolet;
}
.Martes{
   border: 1px solid black;
   color: darkred;
}
.Miercoles{
   border: 1px solid black;
   color: deeppink;
}
.Jueves{
   border: 1px solid black;
   color: indigo;
}
.Viernes{
   border: 1px solid black;
   color: mediumvioletred;
}
.Sabado{
   border: 1px solid black;
   color: red;
}
.dias{
   border: 1px solid black;
   font-size: larger;

}

/*formulario de contacto*/
.form{
   border-top: 5px;
   border-bottom: 5px;
   border-left: 5px;
   border-right: 5px;
   border-style: solid;

   margin-top: 1cm;
   margin-bottom: 5cm;
   margin-left: 1cm;
   
}

/*SECTION*/

/*sobrenosotros*/
p{
   font-family: Arial, Helvetica, sans-serif;
   font-size: medium;
}
.tablaIntegrantes{
   border: 1px solid black;
}

/*FOOTER*/

.footer{
   background-color: lightpink ;
   margin-top:50px;
   width:100%;
   height:200px;
   bottom: 0;
   padding: 20px 0;
}
